<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{padrao/template-painel}">

	<head>
		<title>ACDN Rental Car</title>
        <link type="text/css" rel="stylesheet" th:href="@{/layout/css/cadastro.css}"/>
        <meta charset="utf-8">
	</head>
	
	<body>
	
            		
           		<div layout:fragment="conteudo-painel"></br></br>
           			<form th:object="${cliente}" method="post" th:action="@{minhasenha}"> 
           			
           				<div class="alert alert-danger alert-dismissible" th:if="${erro} != null">
        					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						 	<span th:text="${erro}" >Texto</span>
                		</div>
      					
	        			<div class="alert alert-success alert-dismissible" th:if="${menssagem} != null">
	        				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                		<span th:text="${menssagem}">Mensagem correta!</span>
	                	</div>       
	                	
                        <input class="form-control hidden" type="text" placeholder="Nome completo" th:field="*{nome}"/>
                        <input class="form-control hidden" type="email" placeholder="E-mail" th:field="*{email}"/>
                        <input class="form-control input-vizinho left hidden" type="text" placeholder="CPF" th:field="*{cpf}"/>
                        <input class="form-control input-vizinho right hidden" type="text" placeholder="CNH" th:field="*{cnh}"/>
                        <input class="form-control input-vizinho left hidden" type="text" placeholder="Validade CNH" th:field="*{validade_cnh}"/>
                        <input class="form-control input-vizinho right margin-botton hidden" th:field="*{categoria_cnh}"/>                              
                        
                        <label>nova senha*</label>
                        <input class="form-control" type="password" placeholder="Senha" th:field="*{senha}"/>
                        <label class="margin-top">repetir nova senha*</label>
                        <input class="form-control" type="password" placeholder="Repetir senha" th:field="*{conf_senha}"/><br/>
                        <button class="btn btn-success width-total" type="submit">atualizar senha</button>
                   	</form>
           		
           		</div>
                     
       
	</body>
</html>
