<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{padrao/template-painel}">

	<head>
		<title>ACDN Rental Car</title>
        <link type="text/css" rel="stylesheet" th:href="@{/layout/css/cadastro.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <meta charset="utf-8">
        
        <script>			
			function getDiarias(){
				var dataL = $("#dateLocacao").val();
				var dataL_formatada = formatadorData(dataL);
				$("#data_locacao").text(dataL_formatada);
				
				var dataD = $("#dateDevolucao").val();
				var dataD_formatada = formatadorData(dataD);
				$("#data_devolucao").text(dataD_formatada);
				
				//var diarias = $("#numDiarias").val();
				//var t = dataD_formatada-dataL_formatada;
				var diarias = diferencaDias(new Date(dataL), new Date(dataD) ) + 1;
				$("#nDiarias").text(diarias);
				
				var valor = $("#var_valor").text()*diarias;
				$("#valor").text(valor);
				
				setarInput(diarias, dataL_formatada, dataD_formatada, valor);
        	}
			function formatadorData(dataD){
				var date = new Date(dataD);
				var mes = (date.getMonth()+1);
				var s_mes;
				if(mes<10){
					s_mes = '0'+ mes.toString();
				}else{
					s_mes = mes.toString();
				}
				var dia = (date.getDate()+1).toString();
				var s_dia;
				if(dia<10){
					s_dia = '0'+ dia.toString();
				}else{
					s_dia = dia.toString();
				}
				var ano = date.getFullYear().toString();
				return (s_dia+'/'+s_mes+'/'+ano);
			}
			function setarInput(diarias, dataL_formatada, dataD_formatada, valor){
				$("#situacao").val("ativa");
				$("#qtdDiarias").val(diarias);
				$("#dataLocacao").val(dataL_formatada);
				$("#dataDevolucao").val(dataD_formatada);
				$("#valorTotal").val(valor);
			}
			//Diferença dias
			function diferencaDias(date1, date2) {

			    var ONE_DAY = 1000 * 60 * 60 * 24

			    var date1_ms = date1.getTime()
			    var date2_ms = date2.getTime()

			    var difference_ms = Math.abs(date1_ms - date2_ms)

			    return Math.round(difference_ms/ONE_DAY)

			}
		</script>
	</head>
	
	
	
	<body>
	
      		
      <div layout:fragment="conteudo-painel"></br></br>
      	<h3>Escolha os dias da sua reserva</h3>      
      
      	<div class="alert alert-danger alert-dismissible" th:if="${erro} != null">
			<span>Desculpe! Todos os carros desta categoria estão locados.</span></br>
   		</div>
   		<div th:if="${erro} != null">
   			<a th:href="@{novareserva}"><button type="button"  class="btn btn-detafult">voltar</button></a>
   		</div>
      
      	
      	<div th:if="${erro} == null">
      	
		      <div class="row">
		      	<div class="col-md-6">
		      		<span id="d">Data da locação: </span>
		      		<input id="dateLocacao" type="date" class="form-control"/>
		      	</div>
		      	<div class="col-md-6">
		      		<span>Data da devolução: </span>
		      		<input id="dateDevolucao" type="date" class="form-control"/>
		      	</div>
		      </div>   
		      </br>  
		      
	      	  <button onclick="getDiarias()" class="btn btn-success width-total margin-top" type="button" data-toggle="modal" data-target="#myModal">confirmar reserva</button>
		</div>
		
		
		
	      <!-- Modal -->
	      
			<div id="myModal" class="modal" role="dialog">
			
			
			
			  <div class="modal-dialog">
			
				
			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">DADOS DA SUA RESERVA</h4>
			      </div>
			      
			      <div class="modal-body">
						<div class="row">		   					
		   					<div class="col-md-6">
			   					<p><b>Data da locação: </b><span id="data_locacao">null</span></p>
		   					</div>
		   					<div class="col-md-6">
		   						<p><b>Data da devolução: </b><span id="data_devolucao">null</span></p>
		   					</div>
		   				</div>
		   				<div class="row">
			   				<div class="col-md-6">
			   					<p><b>Categoria: </b><span id="categoria" th:text="${classe.classe}">null</span></p>
			   				</div>
			   				<div class="col-md-6">
			   					<p><b>Quantidade de diárias: </b><span id="nDiarias">null</span></p>
			   				</div>
		   				</div>
		   				<div class="row">
		   					<div class="col-md-12">
		   						<p><b>Valor da reserva: </b>R$ <span id="valor">null</span></p>	
		   						<span id="var_valor" class="hidden" th:text="${classe.valor}"></span>
		   					</div>
		   				</div>	
			        
			      </div>
			      
			      <div class="modal-footer">
			      	<form class="form-group" th:object="${reserva}" method="post" th:action="@{salvarReserva}">
						<input  class="hidden" type="number" id="qtdDiarias" name="qtdDiarias" th:field="*{qtdDiarias}"/>
						<input  class="hidden" type="text" id="dataLocacao" name="dataLocacao" th:field="*{dataLocacao}"/>
						<input  class="hidden" type="text" id="dataDevolucao" name="dataDevolucao" th:field="*{dataDevolucao}"/>
						<input  class="hidden" type="text" id="situacao" name="situacao" th:field="${reserva.situacao}"/>
						<input  class="hidden" type="number" id="valorTotal" name="valorTotal" th:field="${reserva.valorTotal}"/>
						
			      	<button type="submit" class="btn btn-success">confirmar</button>

			        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
			        </form>
			        
			      </div>
			    </div>
			
			  </div>
			</div>
			
			
	      
	      
	   </div><!-- layout:fragment="conteudo-painel -->		
                		
                     
       
	</body>
</html>
