<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{padrao/template-simples}">
	
	<head>
		<title>ACDN Rental Car</title>
        <meta charset="utf-8">
	</head>
	<body>
		<main layout:fragment="conteudo-principal">
		
	        <div class="container body-topo">  
	            <div class="row">
	                <div class="col-md-10 col-md-offset-1">
	                    <h1 style="border-bottom: 1px solid rgba(0,0,0,.2); padding-bottom:0.8em;">Requisitos para alugar um carro</h1><br/>
	                    <h3>Idade miníma</h3>
	                    <p class="text-justify">O locatário/condutor deverá possuir idade mínima de 21 anos.</p>
	                    <h3>Carteira de Habilitação Nacional (CNH)</h3>
	                    <p class="texto">O locatário deverá apresentar seu documento de habilitação original, emitido há mais de 2 anos (CNH Definitiva), válido e dentro do prazo de vencimento.</p>
	                    <h3>Documento de identidade, CPF, passaporte</h3>
	                    <p class="text-justify">O locatário deverá apresentar seu documento RG e CPF originais e não poderá apresentar restrições de qualquer espécie junto aos órgãos de proteção ao crédito (SPC, SERASA) no momento da abertura de contrato junto a locadora. O locatário estrangeiro deverá apresentar seu documento Passaporte original e válido no momento da abertura de contrato junto a locadora. <br>Informamos também que a Central de Reservas Rentcars.com, para realizar a confirmação de sua solicitação, não faz nenhuma consulta prévia nos órgãos de proteção ao crédito. <br> Caso tenha alguma pendência financeira por favor nos informe, para que possamos lhe auxiliar na busca de uma locadora que não possua este procedimento de consulta.</p>
	                    <h3>Cartão de crédito</h3>
	                    <p class="text-justify">O locatário deverá apresentar cartão de crédito válido, de sua titularidade, dentro do prazo de vencimento, emitido por uma instituição bancária e com limite de crédito disponível para pré-autorização da caução de garantia. Não serão aceitos cartões de crédito de terceiros ou cartões não vinculados a instituições bancárias. A aprovação do cartão de crédito é de única e exclusiva responsabilidade da locadora.</p>
	                    <h3>Comprovante de reserva</h3>
	                    <p class="text-justify">O locatário deverá apresentar à locadora uma via impressa do seu comprovante Voucher de confirmação de reserva. Este documento de confirmação assegurará ao locatário o uso de todos de serviços pré-solicitados e confirmados, assim como a disponibilidade de veículo do grupo escolhido, condições de pagamento, tarifas e descontos.</p>
	                    <h3>Importante</h3>
	                    <p class="text-justify">As locadoras se reservam no direito de recusar a alugar veículos a menores de idade, pessoas sem a carteira de habilitação, pessoas incapazes de demonstrar crédito para pagamento ou ainda pessoas que, na opinião da locadora, constituam um risco.</p>
	                </div>            
	            </div>  
	        </div>
	        
		</main>
        
	</body>
</html>
